@page
@model YogaCenterManagement.Pages.ManagerFlow.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Class</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
         @*   @{
                var Fail = ViewData["Fail"]?.ToString();
            }
            @if (Fail is not null)
            {
                <div class="alert alert-warning" role="alert">
                    @Fail
                </div>
            }*@
            @if (!string.IsNullOrEmpty(ViewData["Fail"]?.ToString()))
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Fail"]
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Class.ClassName" class="control-label"></label>
                <input asp-for="Class.ClassName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Class.InstructorId" class="control-label"></label>
                <select asp-for="Class.InstructorId" class="form-control" asp-items="Model.Instructors">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Class.Room.RoomName" class="control-label"></label>
                <select asp-for="Class.RoomId" class="form-control" asp-items="Model.Rooms">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Class.StartTime" class="control-label"></label>
                <input asp-for="Class.StartTime" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Class.EndTime" class="control-label"></label>
                <input asp-for="Class.EndTime" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Class.Capacity" class="control-label"></label>
                <input asp-for="Class.Capacity" class="form-control" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Class.IsApproved" /> @Html.DisplayNameFor(model => model.Class.IsApproved)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Class.MoneyNeedToPay" class="control-label"></label>
                <input asp-for="Class.MoneyNeedToPay" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
